apiVersion: mysql.nakamasato.com/v1alpha1
kind: MySQL
metadata:
  name: mysql-sample
spec:
  host: localhost
  admin_user: root
  admin_password: # echo -n "password" | gcloud secrets create mysql-password --data-file=-
    name: mysql-password
    type: gcp
